.app-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

